<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>
<body>

<form id="hiddenForm" name="hiddenForm" action="http://180.168.100.156:8090/control.action" method="post">
    <input type="text" name="ver" th:value="${ver}"/><br/>
    <input type="text" name="code" th:value="${code}"/><br/>
    <input type="text" name="mchnt_cd" th:value="${mchnt_cd}"/><br/>
    <input type="text" name="mchnt_txn_ssn" th:value="${mchnt_txn_ssn}"/><br/>
    <input type="text" name="client_tp" th:value="${client_tp}"/><br/>
    <input type="text" name="usr_attr" th:value="${usr_attr}"/><br/>
    <input type="text" name="page_notify_url" th:value="${page_notify_url}"/><br/>
    <input type="text" name="back_notify_url" th:value="${back_notify_url}"/><br/>
    <input type="text" name="mobile_no" th:value="${mobile_no}"/><br/>
   <input type="text" name="cust_nm" th:value="${cust_nm}"/><br/>
      <input type="text" name="certif_id" th:value="${certif_id}"/><br/>
      <input type="text" name="email" th:value="${email}"/><br/>
    <!--  <input type="text" name="city_id" th:value="${city_id}"/><br/>-->
    <input type="text" name="signature" th:value="${signature}"/><br/>
    <input type="submit" value="提交">
</form>


</body>
</html>